@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import "tailwindcss";

html, body{
  background-color: white;
}

.great-vibes {
  font-family: 'Great-Vibes', cursive;
}