@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import "tailwindcss";

html, body{
  height: 100%;
  scroll-behavior: smooth;
}


.great-vibes {
  font-family: 'Great-Vibes', cursive;
}